/config.mk
/build/
/cookbook/display/**/*.ppm
/cookbook/display/**/*.png
/.scannerwork
/cookbook/gui/teensy_test/screenshot-teensy_test-*.png
/.DS_Store
/pyautogui/__pycache__
/pyautogui/results
/build.ninja
/tools/make2ninja.py
/*.diff
**/MGL.gputrace*
shader.glsl
shader.frag.glsl
shader.vert.glsl
